
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav .nav-handle-container {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  min-height: 150px;
  background: #E74C3C;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

nav .nav-handle-container .nav-handle {
  height: 5px;
  width: 50px;
  background: white;
  position: absolute;
  display: block;
  left: -webkit-calc(100% - 100px);
  left: calc(100% - 100px);
  top: 75px;
}

nav .nav-handle-container .nav-handle:before, nav .nav-handle-container .nav-handle:after {
  content: "";
  height: 5px;
  width: 50px;
  background: white;
  position: absolute;
  display: block;
}

nav .nav-handle-container .nav-handle:before { top: -20px; }

nav .nav-handle-container .nav-handle:after { bottom: -20px; }

nav ul {
  list-style: none;
  background-color: #E74C3C;
  overflow: hidden;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li:hover { background: #C0392B; }
 @media screen and (max-width: 760px) {

nav .showing { max-height: 30.5em; }

nav ul { max-height: 0px; }

nav ul li {
  box-sizing: border-box;
  width: 100%;
  padding: 35px;
  text-align: left;
  font-size: 2.6em;
}

nav .nav-handle-container { display: block; }

}
